
# Cảnh báo quan trọng uploads chứa dữ liệu như ảnh bài hát,file nhạc và ảnh người dùng.
# Hãy thêm uploads trong release trên github để sử dụng khi clone project về thiết bị.
# Uploads demo data image-music,audio-music,avatar-user
uploads/




HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
